<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Вход</h3>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="form-group">
        <form action="{{ path('login') }}" method="post">
            <label for="username">Логин</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/> <br>
            <label for="password">Пароль</label>
            <input class="form-control" type="password" id="password" name="_password"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> <br>
            <button class="btn btn-primary" type="submit">Войти</button>
        </form>
    </div>
    <a class="btn btn-primary" href="{{ path('register') }}">Зарегистрироваться</a>
</div>
</body>
</html>
